
<style> 

  main {
    width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
  }

  .content {
     display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 700px;
  margin: auto;
  gap: 2rem;
  }

   
</style>

<main class="main">
  <div class="content">
    <div class="right-side">      
         <router-outlet />
    </div>
  </div>
</main>


